//Variables
$color-background: #f5f6fa;
$color-base-orange: #ff6d00;
$color-base-gray: #91a0b0;

$component-border: 1px rgba(215, 218, 230, 1) solid;

//Containers
.component {
  border-radius: 2px;
  border: $component-border;
}


//Inputs
input {
  background-color: white !important;
  border-radius: 2% !important;
  padding-left: 10px !important;
}


//Buttons
.btn-primary {
  background-color: white !important;
  color: black !important;
  text-transform: none;
  font-size: small !important;
}


