//Variables
$color-background: #edeff5;
$color-base-orange: #f3501e;
$color-base-gray: #91a0b0;
$color-text-normal: rgba(0, 0, 0, .7);
$color-text-light: rgba(0, 0, 0, .5);

$color-orange-1: #F1522B;
$color-orange-2: #FF5B32; // lighter than 1

$component-border: 1px rgba(215, 218, 230, 1) solid;
$gradient-background: linear-gradient(darken($color-base-orange, 3%), lighten($color-base-orange, 8%));
//Containers

body {
  font-family: 'Lato', sans-serif;
}

.component {
  border-radius: 2px;
  border: $component-border;
  background-color: white;
}


//Inputs
input {
  background-color: white !important;
  border-radius: 2px !important; //We were at 4px, Omri says fuck that shit
  padding-left: 18px !important;
  border-bottom: none !important;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, .2) !important;
  -moz-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, .2) !important;
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, .2) !important;
  font-size: 16px !important;
  height: 4rem !important;
}


//Buttons
.btn-primary {
  background-color: white !important;
  color: black !important;
  text-transform: none;
  font-size: small !important;
  font-weight: 300;
}

//SignUp
$signUp-page-padding: 10%;
